html {
  position: relative;
  min-height: 100%;
}

body {
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #eee;
}

.navbar-fixed-top {
  border: 0;
}

.form-sm {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-md {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.td-fit,
.th-fit {
    white-space: nowrap;
    width: 1%;
}

.above-nav {
    height: 100px;
    background-color: rgb(34,139,34);
}

.affix {
    top: 0px;
    width: 100%;
}

.navbar {
    border-radius: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
