{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Available
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='available.css')}}">
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">

      <form class="form-available" method="POST" action="/available">
        <h2 class="form-available-heading">Enter products available to sell</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.product) }}
        {{ wtf.form_field(form.quantity) }}
        {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
      </form>

        <h2 class="form-available-heading">List of available items</h2>
        {% if availablelist %}
        <table class="table">
            <tbody>
                {% for item in availablelist %}
                <tr>
                    <td>{{ item[0].day.strftime('%a %b %d') }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ "$%.2f"|format(item[0].offerprice) }} per {{ item.unit }}</td>
                    <td>Initial quantity: {{ item[0].quantity }} {{item.unit}}s</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div> <!-- /container -->

{% endblock %}
