{% extends "bootstrap/base.html" %}

{% block title %}
Cart
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='order.css')}}">
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <form method="POST" action="{{ url_for('cart') }}">
                            {{ formdate.csrf_token }}
                            {{ formdate.date(class="selectdefault", value=day) }} &nbsp; {{ formdate.submitdate(class="btn btn-primary btn-sm") }}
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- objects in query [0]=OrderTbl, [1]=Available, [2]=Product, [3]=User(seller) -->
        {% if itemlist %}
        <table class="table">
            <tbody>
                <!-- due to a crazy scope issue with jinja variables outside and inside a loop, use this namespace trick -->
                {% set carttotal = namespace(a=0) %}
                {% for item in itemlist %}
                {% set itemtotal = item[0].quantity * item[1].offerprice %}
                {% set carttotal.a = carttotal.a + itemtotal %}
                <tr>
                    <td><img src="/static/img/defaultproduct.png" alt="Product image"></td>
                    <td>
                        <table class="table">
                            <tr><td>{{ item[2].description }}</td></tr>
                            <tr>
                                <td>Ordered: {{ item[0].quantity }} {{ item[2].unit }}s @ {{ "$%.2f"|format(item[1].offerprice) }} per {{ item[2].unit }} = {{ "$%.2f"|format(itemtotal) }}</td>
                                <td><a href="{{ url_for('deleteorderitem', id=item[0].orderID) }}" class="btn btn-primary btn-sm">Delete</a></td>
                            </tr>
                            <tr><td>{{ item[3].boothname }}</td></tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="pull-right">
                        Total in cart: {{ "$%.2f"|format(carttotal.a) }}
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <h1>Your cart is empty for {{ dayalt }}.</h1>
        <h1>Use the Order page to select items.</h1>
        {% endif %}

    </div> <!-- /container -->

    <!-- script needed to set a the default date in the date selector to the date used to filter data for the page -->
    <!-- setting the default with form.date.data in flask_app made the selector never select anything but the default -->
    <script>
        var els = document.getElementsByClassName("selectdefault");
        for (i = 0; i < els.length; i++) {
            els[i].value = els[i].getAttribute('value');
        }
    </script>
{% endblock %}

