{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Product
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='/css/common.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
        $('.navbar').affix({
          offset: {top: 100}
        });
    </script>
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">
        <form class="form-md" method="POST" action="/newproduct">
            <h2 class="form-login-heading">Enter a new product</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.description) }}
            {{ wtf.form_field(form.unit) }}
            {{ wtf.form_field(form.unitprice) }}
            {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
        </form>

        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div> <!-- /container -->
    {% include 'footer.html' %}
{% endblock %}