{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Order Item
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">

        <h2 class="form-available-heading">Order an item</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <td>{{ seller.boothname }}</td>
                </tr>
                <tr>
                    <td>{{ "$%.2f"|format(available.offerprice) }} per {{ product.unit }}</td>
                </tr>
                <tr>
                    <td>Available: {{ remaining }} of {{ available.quantity}} {{ product.unit }}s</td>
                </tr>
                <tr>
                    <td>For purchase on: {{ available.day.strftime('%a %b %d') }}</td>
                </tr>
            </tbody>
        </table>

        <form class="form-login" method="POST" action="{{ url_for('placeorder') }}">
            {{ form.csrf_token }}
            {{ form.offerid(value=available.offerID) }}
            {% if remaining > 0 %}
            Quantity: {{ form.quantity(class='form-control', type='number', min=1, max=remaining, step=1, value=1) }}
            {% else %}
            Wishlist: {{ form.wishlist(class='form-control', type='number', min=1, step=1, value=1) }}
            {% endif %}
            <button type="submit" class="btn btn-primary">Place order</button>
        </form>


        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div> <!-- /container -->
{% endblock %}