{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Order Item
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/common.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
        $('.navbar').affix({
          offset: {top: 100}
        });
    </script>
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">

        <h2 style="margin-top: 15px;">Order an item</h2>

        <table class="table">
            <tbody>
                <tr>
                    <td class="td-fit"><img src="/static/img/P{{ product.productID }}.png" onerror="this.src='/static/img/defaultproduct.png'" /></td>
                    <td>
                        <strong>{{ product.description }}</strong><br>
                        {{ "$%.2f"|format(available.offerprice) }} per {{ product.unit }}<br>
                        <small>{{ seller.boothname }}</small>
                    </td>
                    <td>
                        &nbsp;<br>
                        Available: {{ remaining|int if remaining == remaining|int else remaining }} of {{ available.quantity|int if available.quantity == available.quantity|int else available.quantity }} {{product.unit}}s<br>
                        For purchase on: <strong>{{ available.day.strftime('%a %b %d') }}</strong>
                    </td>
                    <td>
                        &nbsp;<br>
                        <form class="form-inline" method="POST" action="{{ url_for('placeorder') }}">
                            {{ form.csrf_token }}
                            {{ form.offerid(value=available.offerID) }}
                            {% if remaining > 0 %}
                            Quantity: {{ form.quantity(class='form-control', type='number', min=1, max=remaining, step=1, value=1) }} {{ product.unit }} &nbsp; &nbsp;
                            {% else %}
                            Wishlist: {{ form.wishlist(class='form-control', type='number', min=1, step=1, value=1) }} {{ product.unit }} &nbsp; &nbsp;
                            {% endif %}
                            <button type="submit" class="btn btn-primary">Place order</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div> <!-- /container -->
    {% include 'footer.html' %}
{% endblock %}