{% extends "bootstrap/base.html" %}

{% block title %}
Order Summary
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/common.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- script needed to set the default value in a select form field to a value specified in the field -->
    <!-- setting the default with form.field.data in flask_app made the selector never select anything but the default -->
    <script>
        var els = document.getElementsByClassName("selectdefault");
        for (i = 0; i < els.length; i++) {
            els[i].value = els[i].getAttribute('value');
        }
    </script>
    <!-- script to auto-submit the date select form on change - it looks for the name of the select, which is "date" -->
    <!-- the simulated "click" is needed for form.submit.data to be True in flask - a simple this.form.submit() does not do it -->
    <script>
        $(document).ready(function() {
          $('#date').on('change', function() {
            var $form = $(this).closest('form');
            $form.find('input[type=submit]').click();
          });
        });
    </script>
    <script>
        $('.navbar').affix({
          offset: {top: 100}
        });
    </script>
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">
        <h2>Order Summary</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                         <form class="form-inline" method="POST" action="{{ url_for('ordersummary') }}">
                            {{ formdate.csrf_token }}
                            <!-- select field is auto-submitted using jQuery script - note that this select name is "date", which the script looks for -->
                            Which day? &nbsp; {{ formdate.date(class="selectdefault form-control", value=day) }}
                            <!-- submit button needs to be present for jQuery to find it, but hide it since it won't be used -->
                            {{ formdate.submitdate(hidden="hidden") }}
                        </form>
                     </td>
                </tr>
            </tbody>
        </table>

        {% if summarylist %}
        <h2>Orders for {{ store }} on {{ dayalt }}</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>Sell-by unit</th>
                <th>Initial quantity</th>
                <th>Reserved quantity</th>
                <th>Wish list quantity</th>
                <th>Unit price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
                {% for item in summarylist %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.initial }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.wishlist }}</td>
                    <td>{{ "$%.2f"|format(item.offerprice) }}</td>
                    <td>{{ "$%.2f"|format(item.itemtotal) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            There are no orders for this day.
        </div>

        {% endif %}

    </div> <!-- /container -->
    {% include 'footer.html' %}
{% endblock %}

