{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Edit Profile
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/common.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
        $('.navbar').affix({
          offset: {top: 100}
        });
    </script>
{% endblock %}

{% block content %}
    {% include 'topnav.html' %}

    <div class="container">

        <div class="row">
            <div class="col-lg-7">
                <form class="form-md" style="margin-right: 0px;" method="POST" action="/profile">
                    <h2 style="margin-top: 0px;">Edit your profile</h2>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.name) }}
                    {{ wtf.form_field(form.telephone, placeholder='(123) 456-7890') }}
                    {% if usertype == 'Seller' %}
                        {{ wtf.form_field(form.boothname) }}
                        {{ wtf.form_field(form.website, placeholder='mywebsiteaddress.com') }}
                    {% endif %}
                    {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
                </form>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <form class="form-md" style="margin-left: 0px;" method="POST" enctype="multipart/form-data" action="/profile">
                    <h2 style="margin-top: 0px;">Upload your photo<br>(.jpg or .jpeg only)</h2>
                    {{ formphoto.hidden_tag() }}
                    <div class="form-group">
                        {{ formphoto.photo }}
                    </div>
                    {{ wtf.form_field(formphoto.submitphoto, class="btn btn-lg btn-primary") }}
                </form>

                <div class="form-md">
                    <img src="{{ photofile }}" alt="User photo">
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div> <!-- /container -->
    {% include 'footer.html' %}
{% endblock %}