<div class="above-nav">
  <div class="container-fluid">
      <div class="row">
      <img class="img-responsive" style="min-height: 100px;" src="/static/img/FMPortalBanner.jpg">
      </div>
  </div>
</div>

<div class="nav-wrapper" style="height:51px;"> <!-- Prevents content jump when navbar becomes fixed -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('order') }}">Blacksburg Farmers Market Portal</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('order') }}">Order</a></li>
        <li><a href="{{ url_for('cart') }}">Cart</a></li>
        {% if usertype == "Seller" %}
            <li><a href="{{ url_for('newproduct') }}">New Product</a></li>
            <li><a href="{{ url_for('editproduct') }}">Edit Product</a></li>
            <li><a href="{{ url_for('available') }}">Available Products</a></li>
            <li><a href="{{ url_for('ordersummary') }}">Order Summary</a></li>
            <li><a href="{{ url_for('orderdetail') }}">Order Detail</a></li>
        {% endif %}
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
       </ul>
    </div>
  </div>
</nav>
</div>